/node_modules
/public/hot
/public/storage
/public/templates
/public/fonts/
/public/assets/fonts/vendor
/public/assets/vendor
/public/assets/css/app.css
/public/assets/css/bootstrap.css
/public/assets/css/responsive.css
/public/assets/css/components.css
/public/assets/css/*.map
/public/assets/css/ui.css
/public/assets/js/app.js
/public/assets/js/bootstrap.js
/public/assets/js/front.js
/public/assets/js/manifest.js
/public/assets/js/vendor.*
/public/assets/js/jquery.min.js
/storage/*.key
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
